
<%= form_with model: @profile, html: { class: "form card" } do |f| %>
  <div class="form-field">
    <%= f.label :username, "Username" %>
    <%= f.text_field :username %>
  </div>
  
  <div class="form-field">
    <%= f.label :location, "Location" %>
    <%= f.text_field :location %>
  </div>

  <div class="form-field">
    <%= f.label :birthday, "Birthday" %>
    <div class="datetime">
      <%= f.date_select :birthday, 
          { selected: 18.year.ago, 
            order: [:month, :day, :year], 
            start_year: Date.current.year - 100, 
            end_year: Date.current.year - 13, 
            class:"datetime_select" } %>
    </div>
  </div>

  <div class="form-field ">
    <%= f.label :time_zone, "Time Zone" %>
    <div class="select">
      <%= f.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones, default: "Eastern Time (US & Canada)") %>
      <span class="focus"></span>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :interests, "Things I Like" %>
    <%= f.text_area :interests %>
  </div>

  <div class="form-field attached_image">
    <%= f.label :image %>
    <%= f.file_field :image %> 
    <% if @profile.image.attached? %>
      <p>Image is currently:</p>
      <div>
        <%#= image_tag @profile.avatar_as_thumnail %>

        <%= cl_image_tag(@profile.image.key, width: 50, height: 50, crop: :fit) %>
        <%= f.check_box :remove_image %> 
        <%= f.label :remove_image, "Remove Image" %>
      </div>
    <% end %>
  </div>
  <%= f.submit %>
<% end %>
