<div class="card profile">
  <div class="image_div">
    <% if profile.image.attached? %>
        <%= cl_image_tag(profile.image.key, width: 150, height: 150, crop: :fit) %>
    <% else %>
      <div class="no_avatar profile">
        <p class="initial"><%= initial(profile.user) %></p>
      </div>
    <% end %>
  </div>
  <% unless profile.location.blank? %>
    <p>Location: <%= profile.location %></p>
  <% end %>
  <p>Birthday: <%= profile.birthday.strftime("%B %-d") if profile.birthday %></p>
  <% unless profile.interests.blank? %>
    <p>Interests: <%= profile.interests %></p>
  <% end %>
</div>