<div class="card profile">
  <div class="image_div">
    <% if profile.image.attached? %>
      
        <%= image_tag profile.small_avatar %>
     
    <% else %>
      <div class="no_avatar profile">
        <p class="initial"><%= initial(profile.user) %></p>
      </div>
    <% end %>
  </div>
  <p>Location: <%= profile.location %></p>
  <p>Birthday: <%= profile.birthday.strftime("%B %-d") if profile.birthday %></p>
  <p>Interests: <%= profile.interests %></p>
</div>