<h1>Profile Show Page</h1>

<p>Hello, <%= @profile.username %>!</p>
<p>Location: <%= @profile.location %></p>
<p>Birthday: <%= @profile.birthday %></p>
<p>Time Zone: <%= @profile.time_zone %></p>

<%= link_to "Edit", edit_profile_path(@profile) %>


