<%= turbo_frame_tag comment do %>
  <div class="comment-card">
    <%= display_name(comment.user) %>
    <%= comment.body %>
    <% if comment.user == current_user %>
      <%= link_to "Edit", edit_post_comment_path(post_id: comment.commentable.id, id: comment.id) %>
      <%= button_to "Delete", comment_path(comment), method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
<% end %>

<%# new_post_comment_path(post_id: @post) %>