<%= form_with model: [commentable, comment], html: {class: "form card"} do |f| %> 
  <%= f.hidden_field :parent_post_id, :value => post.id %>
  <div class="inline">
    <%= f.label :body, "Comment: " %>
    <% f.object.errors.full_messages_for(:body).each do |msg| %>
      <span class="error"><%= msg %></span>
    <% end %>
  </div>
  <%= f.text_area :body %>
  <%= f.submit %>
  <%= link_to "cancel", :back %>
<% end %>