<%= form_with model: [commentable, comment], html: {class: "form"} do |f| %>
  <% if f.object.errors.any? %>
    <div>
      <% f.object.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>
  
  <%= f.hidden_field :parent_post_id, :value => @post.id %>
  <%= f.label :body, "Comment: " %>
  <%= f.text_area :body %>
  <%= f.submit %>
  <%= link_to "cancel", :back %>
<% end %>