<div class="card">
  <div class="user_card__content">
    <% if user.profile && user.profile.image.attached? %>
      <%= cl_image_tag(user.profile.image.key, width: 50, height: 50, crop: :fit) %>
    <% else %>
      <div class="no_avatar">
        <p class="initial"><%= initial(user) %></p>
      </div>
    <% end %>
    <div class="user-card__info">
      <p>
        <% if request %>
          <%= display_name(user) %>
        <% else %>
          <%= link_to display_name(user), user_path(user) %>
        <% end %>
      </p> 
      <small>
        <%= user.profile.location if user.profile && user.profile.location %>
      </small>
    </div>
  </div>

  <% if request %>
    <%= button_to "Send Friend Request", 
        friend_requests_path(friend: user), 
        class: "button" %>
  <% end %>
</div>