<div class="card">
  <div class="user_card__content">
    <%= image_tag user.profile.avatar_as_thumnail if user.profile && user.profile.image.attached? %>
    <% unless user.profile && user.profile.image.attached? %>
      <div class="no_avatar">
        <p class="initial"><%= initial(user) %></p>
      </div>
    <% end %>
    <div class="user-card__info">
      <p><%= link_to display_name(user), user_path(user) %></p>
      <small><%= user.profile.location if user.profile && user.profile.location %></small>
    </div>
  </div>

  <% if request %>
    <%= button_to "Send Friend Request", friend_requests_path(friend: user), class: "button" %>
  <% end %>
</div>