<div class="user__wrapper">
  <div class="user_show__header">
    <% if @user == current_user %>
      <h1>Your Feed</h1>
      <%= link_to "New Post", new_post_path, data: { turbo_frame: dom_id(Post.new) } %>
    <% else %>
      <h1><%= display_name(@user) %>'s page</h1>
      <% if @user.profile %>
          <%= link_to "Profile", user_profile_path(@user, @user.profile) %>
      <% end %>
    <% end %>
  </div>

  <div class="user_show__main">
    <div class="posts__wrapper">  
      <%= turbo_frame_tag Post.new %>
      <%= turbo_frame_tag "posts" do %>
        <%= render @posts, show: false, curr: current_user %>
        <% unless @posts.any? %>
          <div class="no_posts">
            <%= "There are no posts yet." %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="user_show__sidebar">
      <div class="sidebar__content">
        <h3>About</h3>
        <div class="people__wrapper">
          <% if @user.profile %>
            <%= render partial: "profiles/profile", locals: { profile: @user.profile } %>
          <% else %>
            <%= render partial: "profiles/no_profile", locals: { user: @user } %>
          <% end %>
        </div>
      </div>
      <div class="sidebar__content">
        <h3>Friends</h3>
        <div class="people__wrapper">
          <% @friends.each do |friend| %>
            <%#= link_to display_name(friend), user_path(friend) %>
            <%= render partial: "users/user", locals: { user: friend, request: false } %>
          <% end %>
          <% unless @friends.any? %>
            <p>You have no friends yet.</p>
            <%= link_to "Find Some Friends!", users_path, class: "button" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>