<div class="main user">
  <div class="header user">
    <h2>Hello, <span class="bold"><%= display_name(@user) %>!</span></h2>
      <% if @user.profile %>
        <%= link_to "Profile", user_profile_path(@user, @user.profile) %>
      <% else %>
        <%= link_to "Create a Profile", new_user_profile_path(@user) %>
      <% end %>
  </div>

  <div class="post wrapper">  
    <div class="header">
      <h1>Recent Posts</h1>
      <%= link_to "Create A Post", new_post_path, data: { turbo_frame: dom_id(Post.new) } %>
    </div>

    <%= turbo_frame_tag Post.new %>
    <%= turbo_frame_tag "posts" do %>
      <% @posts.each do |post| %>
        <%= render "posts/post", post: post %>
      <% end %>
    <% end %>
  </div>
</div>