<h1>Users Page</h1>

<% if @user.profile %>
  <p>Hello, <%= @user.profile.username %>!<p>
  <%= link_to "Profile", user_profile_path(@user, @user.profile) %>
<% else %>
  <p>Hello, <%= @user.email %>!</p>
  <%= link_to "Create a Profile", new_user_profile_path(@user) %>
<% end %>

<%= link_to "Manage Friends", friend_requests_path %>
<%= link_to "Find Friends", users_path %>

<%= link_to "Create A Post", new_post_path %>
<%= link_to "My Posts", posts_path %>