<%= form_with model: @post, html: {class: "form card"} do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="form-field">
    <div class="inline">
      <%= f.label :title, "Title" %>
      <% f.object.errors.full_messages_for(:title).each do |msg| %>
        <span class="error"><%= msg %></span>
      <% end %>
    </div>
    <%= f.text_field :title %>
  </div>
  
  <div class="form-field">
    <div class="inline">
      <%= f.label :body, "Body" %>
      <% f.object.errors.full_messages_for(:post).each do |msg| %>
        <span class="error"><%= msg %></span>
      <% end %>
    </div>
    <%= f.text_area :body %>
  </div>

  <div class="form-field attached_image">
    <%= f.label :image %>
    <%= f.file_field :image %> 
    <% if @post.image.attached? %>
      <p>Image is currently:</p>
      <div>
        <%= cl_image_tag(@post.image.key, width: 50, height: 50, crop: :fit) %>
        <% unless @post.body.blank? %>
          <%= f.check_box :remove_image %> 
          <%= f.label :remove_image, "Remove Image" %>
        <% end %>
      </div>
    <% end %>
  </div>
 
  <%= f.submit %>
  <%= link_to "cancel", :back %>
<% end %>
