<%= turbo_frame_tag post do %>
  <div class="card">
    <div class="card header post">
      <div>
        <div class="header line line_one">
          <h2>
            <%= link_to post.title, post_path(post), 
              data: { turbo_frame: "_top" }%>
          </h2>
          <%= display_date(post.created_at) %>
        </div>
        <div class="header line">
          <p><%= display_name(post.user) %><p>

          <% if post.user == current_user %>
            <div class="owner_actions">
              <%= link_to "Edit", edit_post_path(post) %> |
              <% if show %>
                <%= button_to "Delete", post_path(post, format: :html), 
                  method: :delete, class: "delete link",
                  form: { data: { turbo_confirm: 'Are you sure?', turbo_frame: "_top" } }, 
                  class: "button--link" %>
              <% else %>
                <%= button_to "Delete", post_path(post), 
                method: :delete, 
                form: { data: { turbo_confirm: 'Are you sure?' } }, 
                class: "button--link" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <% if post.image.attached? %>
      <div class="post_image">
        <%= image_tag post.resized_image%>
      </div>
    <% end %>

    <% unless post.body.blank? %>
      <div class="post_body">
        <%= post.body %>
      </div>
    <% end %>

    <div class="counts__wrapper">
      <div class="likes">
        <%= turbo_frame_tag "#{post.id}_likes" do %>
          <% render partial: "likes/like", locals: { post: post } %>
        <% end %>
      </div>

      <div class="likes">
        <%= turbo_frame_tag "#{post.id}_comment_count" do %>
          <% render partial: "comments/count", locals: { post: post } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
