<%= turbo_frame_tag post do %>
  <div class="post-card">
    <div class="header post">
      <div>
        <h2>
          <%= link_to post.title, post_path(post), 
            data: { turbo_frame: "_top" }%>
        </h2>
        <p><%= display_name(post.user) %><p>
      </div>
      <%= display_date(post.created_at) %>
    </div>
    <div class="post-image">
      <%= image_tag post.resized_image if post.image.attached? %>
    </div>
    <div class="post-body">
      <%= post.body %>
    </div>

    <div class="counts">
      <p>
      <%= turbo_frame_tag "#{post.id}_comment_count" do %>
        <%= post.comment_count %>
      <% end %> 
      comments</p>
    </div>

    <% if false %>
    <div class="likes">
      <%= turbo_frame_tag "#{post.id}_likes" do %>
        <p><%= post.likes_count %> likes</p>
        <% like = post.user_like(current_user) %>
        <% if like %>
          <%= button_to "Unlike", post_like_path(post_id: post.id, id: like.id), method: :delete %>
        <% else %>
          <%= button_to "Like", post_likes_path(post.id), method: :post %>
        <% end %>
      <% end %>
    </div>
    <% end %>

    <div class="likes">
      <%= turbo_frame_tag "#{post.id}_likes" do %>
        <% render partial: "likes/like", locals: { post: post } %>
      <% end %>
    </div>


    <% if post.user == current_user %>
      <%= link_to "Edit Post", edit_post_path(post) %>
      <% if show %>
        <%= button_to "Delete", post_path(post, format: :html), 
          method: :delete, 
          form: { data: { turbo_confirm: 'Are you sure?', turbo_frame: "_top" } } %>
      <% else %>
        <%= button_to "Delete", post_path(post), 
        method: :delete, 
        form: { data: { turbo_confirm: 'Are you sure?' } } %>
      <% end %>
    <% end %>
  </div>
<% end %>
