<%= turbo_frame_tag post do %>
  <div class="post-card">
    <div class="header post">
      <div>
        <h2>
          <%= link_to post.title, post_path(post), data: { turbo_frame: "_top" }%>
        </h2>
        <p><%= display_name(post.user) %><p>
      </div>
      <%= post.created_at %>
    </div>
    <div class="post-image">
      <%= image_tag post.resized_image if post.image.attached? %>
    </div>
    <div class="post-body">
      <%= post.body %>
    </div>

    <% if post.user == current_user %>
      <%= link_to "Edit Post", edit_post_path(post) %>
      <%= button_to "Delete", post_path(post), method: :delete %>
    <% end %>
  </div>
<% end %>
