  <div class="page__wrapper">  
    <div class="posts_index__header">
      <h1>My Posts</h1>
      <%= link_to "New Post", new_post_path, 
          data: { turbo_frame: dom_id(Post.new) } %>
    </div>

    <%= turbo_frame_tag Post.new %>
    <%= turbo_frame_tag "user_posts" do %>
      <%= render @posts, show: false, curr: current_user %>
      <%= "There are no posts yet." unless @posts.any? %>
    <% end %>
  </div>