<div class="menu">

  <% if current_user.profile %>
    <%= link_to user_profile_path(current_user, current_user.profile) do %>
      <div class="icon__wrapper">
        <%= render partial: "shared/profile_icon" %>
        <small class="icon__description">profile</small>
      </div>
    <% end %>
  <% else %>
    <%= link_to new_user_profile_path(current_user)  do %>
      <div class="icon__wrapper">
        <%= render partial: "shared/profile_icon" %>
        <small class="icon__description">profile</small>
      </div>
    <% end %>
  <% end %>

  <%= link_to friend_requests_path  do %>
    <div class="icon__wrapper">
      <%= render partial: "shared/friend_icon" %>
      <small class="icon__description">friend requests</small>
    </div>
  <% end %>

  <%= link_to users_path do %>
    <div class="icon__wrapper">
      <%= render partial: "shared/people_icon" %>
      <small class="icon__description">people</small>
    </div>
  <% end %>

  <%= link_to posts_path do %>
    <div class="icon__wrapper">
      <%= render partial: "shared/notes" %>
      <small class="icon__description">posts</small>
    </div>
  <% end %>

  <%= link_to edit_user_registration_path do %>
    <div class="icon__wrapper">
      <%= render partial: "shared/cog" %>
      <small class="icon__description">account</small>
    </div>
  <% end %>

  <%= button_to "Logout", 
      destroy_user_session_path, 
      data: {turbo: "false"}, class: "button", method: :delete %>
</div>