<!DOCTYPE html>
<html>
  <head>
    <title>Social</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <% unless current_page?(new_user_session_path)|| current_page?(new_user_registration_path) %>
        <div class="header-content">
          <%= link_to "so social", root_path, class: "logo" %>

          <div class="block">
            <div class="icon__wrapper">
              <% if current_user.profile %>
                <%= link_to image_tag("card-account-details-outline.svg", class: "icon"), user_profile_path(current_user, current_user.profile) %>
              <% else %>
                <%= link_to image_tag("card-account-details-outline.svg", class: "icon"), new_user_profile_path(current_user) %>
              <% end %>
              <small class="icon__description">profile</small>
            </div>

            <div class="icon__wrapper">
              <%= link_to image_tag("account-group.svg", class: "icon"), friend_requests_path %>
              <small class="icon__description">friend requests</small>
            </div>
            <div class="icon__wrapper">
              <%= link_to image_tag("account-search-outline.svg", class: "icon"), users_path %>
              <small class="icon__description">people</small>
            </div>
            <div class="icon__wrapper">
              <%= link_to image_tag("note-edit-outline.svg", class: "icon"), posts_path %>
              <small class="icon__description">posts</small>
            </div>
          </div>

          <div class="block">
            <div class="icon__wrapper">
              <%= link_to image_tag("cog.svg", class: "icon"), edit_user_registration_path %>
              <small class="icon__description">account</small>
            </div>
            <%= button_to "Logout", 
                destroy_user_session_path, 
                data: {turbo: "false"}, method: :delete %>
          </div>
        </div>
      <% end %>
    </header>
    <main>
      <div class="flash_and_greeting">
        <div id="flash" class="flash">
          <%= render "layouts/flash" %>
        </div>

        <% unless current_page?(new_user_session_path)|| current_page?(new_user_registration_path) %>
          <div class="greeting">
            <h2><span class="lowercase">Hello, </span><%= display_name(current_user) %></h2>

            <div class="notification__wrapper">
              <div class="notification__header">
                <%= image_tag "bell-ring-outline.svg", class: "icon" %>
                <h3><%= link_to "Notifications", notifications_path %></h3>
              </div>
              <div id="notification_count">
                <%= render "notifications/count", count: current_user.notification_count %>
              </div>
              <%= turbo_stream_from dom_id(current_user, :broadcast_to) %>
            </div>

          </div>
        <% end %>
      </div>
      <div class="main__content">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
