<!DOCTYPE html>
<html>
  <head>
    <title>Social</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <% unless current_page?(new_user_session_path)|| current_page?(new_user_registration_path) %>
        <div class="header-content">
          <%= link_to "Home", root_path %>

          <div class="block">
            <% if current_user.profile %>
              <%= link_to "Profile", user_profile_path(current_user, current_user.profile) %>
            <% else %>
              <%= link_to "Create a Profile", new_user_profile_path(current_user) %>
            <% end %>

            <%= link_to "Friend Requests", friend_requests_path %>
            <%= link_to "Find New Friends", users_path %>
            <%= link_to "My Posts", posts_path %>
          </div>

          <div class="block">
            <%= link_to "Edit Account", edit_user_registration_path %>
            <%= button_to "Logout", 
                destroy_user_session_path, 
                data: {turbo: "false"}, method: :delete %>
          </div>
        </div>
      <% end %>
    </header>
    <main>
      <div class="flash_and_greeting">
        <div id="flash" class="flash">
          <%= render "layouts/flash" %>
        </div>

        <% unless current_page?(new_user_session_path)|| current_page?(new_user_registration_path) %>
          <div class="greeting">
            <h2>Hello, <span class="bold"><%= display_name(current_user) %>!</span></h2>

            <div>
              <h3><%= link_to "Notifications", notifications_path %></h3>
              <div id="notification_count">
                <%= render "notifications/count", count: current_user.notification_count %>
              </div>
              <%= turbo_stream_from dom_id(current_user, :broadcast_to) %>
            </div>

          </div>
        <% end %>
      </div>

      <%= yield %>
    </main>
  </body>
</html>
