<!DOCTYPE html>
<html>
  <head>
    <title>Social</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('star.svg') %>
  </head>

  <body>
    <header>
      <%= link_to "so social", root_path, class: "logo" %>
      <% unless current_page?(new_user_session_path)|| current_page?(new_user_registration_path) || current_page?(new_user_password_path) %>
        <div data-controller="toggle" data-toggle-change-class="hidden">
          <div data-action="click->toggle#remove" class="clickable">
            <%= render partial: "shared/hamburger" %>
          </div>
          <div data-toggle-target="content" class="menu__wrapper hidden" id="menu">
            <div data-action="click->toggle#add" class="clickable close">
              <%= render "shared/close" %>
            </div>
            <%= render partial: "layouts/menu" %>
          </div>
        </div>
      <% end %>
    </header>

    <main>
      <div class="flash_and_greeting">
        <div id="flash" class="flash">
          <%= render "layouts/flash" %>
        </div>

        <% unless current_page?(new_user_session_path)|| current_page?(new_user_registration_path) || current_page?(new_user_password_path) %>
          <div class="greeting">
            <h2><span class="lowercase">Hello, </span><%= display_name(current_user) %></h2>
            <div class="notification__wrapper">
              <div class="notification__header">
                <h3><%= link_to "Notifications", notifications_path %></h3>
                <div id="notification_count">
                  <%= render "notifications/count", count: current_user.notification_count %>
                </div>
              </div>
              <%= turbo_stream_from dom_id(current_user, :broadcast_to) %>
            </div>

          </div>
        <% end %>
      </div>
      <div class="main__content">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
